@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-black;
}

@layer utilities {
    .animate-delay-2s {
        animation-delay: 2s;
    }
    .animate-delay-4s {
        animation-delay: 4s;
    }
    .animate-delay-6s {
        animation-delay: 6s;
    }
}