@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-black;
    @apply outline-none;
    @apply focus:outline-none focus:ring focus:ring-violet-300 rounded-xl p-1
}

@layer utilities {
    .animate-delay-2s {
        animation-delay: 2s;
    }
    .animate-delay-4s {
        animation-delay: 4s;
    }
    .animate-delay-6s {
        animation-delay: 6s;
    }

    .custom-focus {
        @apply focus:outline-none focus:ring focus:ring-violet-300 rounded-xl p-1
    }
}